/*
define overrides for bulma here
*/

.card-center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  margin-top: auto;
  margin-bottom: auto;
}

.clamp-card {
  height: 60px;
  overflow: hidden;
  line-height: 20px;
}

.center-frame {
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}
